obsidian/offensive/.obsidian/app.json
obsidian/offensive/.obsidian/appearance.json
obsidian/offensive/.obsidian/core-plugins-migration.json
obsidian/offensive/.obsidian/core-plugins.json
obsidian/offensive/.obsidian/workspace.json
Havoc/.git
Havoc/client/external/json/.git
Havoc/client/external/json/.github