<ruby>

run_single('use auxiliary/scanner/portscan/tcp')
run_single("set CONCURRENCY 50")
run_single("set PORTS 20-23,25,53,67-69,80,110,123,137-139,143,161-162,443,445,465,587,631,993,995,1025-1027,1433-1434,1723,3306,3389,5900,5985-5986,8080,10000-10962")
run_single("set DELAY 3")
run_single("set JITTER 2")
run_single("show options missing")

run_single("workspace -h")

puts "[!] Set your WORKSPACE!"

puts "[+] Set to scan the top 1000 ports."

puts "[!] see other aliases for different port ranges."


sleep(1)
</ruby>
